.search-nav-block {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    &.bordered{
        border-radius: $border-radius-default;
        border: 1px solid $color-neutral-200;
        .search-nav-block__item{
            &:last-of-type{
                .dropdown-toggle{
                    border-right-color: transparent;
                }
                &.show{
                    .dropdown-toggle{
                        border-right-color: $color-neutral-200;
                    }
                }
            }
        }
    }
    &.three-filters{
        @include respond-to(lg){
            flex-wrap: wrap;
            .search-nav-block__field{
                flex: 0 0 100%;
                max-width: 100%;
                border-bottom: 1px solid $color-neutral-200;
                &:after{
                    display: none;
                }
            }
            .search-nav-block__dropdown{
                flex: 0 0 33.333%;
                max-width: 33.333%;
            }
        }
        @include respond-to(sm){
            .search-nav-block__dropdown{
                width: auto;
                flex: 0 0 100%;
                max-width: 100%;
                .dropdown-toggle{
                    border: none;
                    padding-left: 0;
                    border-radius: 0;
                    &:before{
                        display: none;
                    }
                    &:hover, &:active{
                        background: $color-white !important;
                    }
                    &:after{
                        right: 2px;
                    }
                }
                &.show{
                    .dropdown-toggle{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                &:not(:last-of-type){
                    .dropdown-toggle{
                        border-bottom: 1px solid $color-neutral-200;
                    }
                }
            }
            .search-nav-block__field{
                @include respond-to(sm){
                    border-bottom: 1px solid $color-neutral-200;
                }
            }
        }
        .search-nav-block__filter{
            @include respond-to(lg){
                width: auto;
                flex: 0 0 33.333%;
                max-width: 33.333%;
                &:after{
                    display: none;
                }
            }
            @include respond-to(sm){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &.two-filters{
        .search-nav-block__filter{
            @include respond-to(sm){
                width: auto;
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 0;
                &:after{
                    display: none;
                }
            }
        }
        .search-nav-block__dropdown{
            @include respond-to(sm){
                width: auto;
                flex: 0 0 50%;
                max-width: 50%;
                &:last-of-type{
                    .dropdown-toggle{
                        &:after{
                            right: 2px;
                        }
                    }
                }
            }
        }
        .search-nav-block__field{
            @include respond-to(sm){
                border-bottom: 1px solid $color-neutral-200;
            }
        }
        .search-nav-block__filter{
            @include respond-to(sm){
                padding: 0 0 0 16px;
            }
        }
    }
    &.one-filter{
        .search-nav-block__field{
            @include respond-to(sm){
                border-bottom: 1px solid $color-neutral-200;
            }
        }
        .search-nav-block__item{
            @include respond-to(sm){
                width: auto;
                flex: 0 0 100%;
                max-width: 100%;
                .dropdown-toggle{
                    border-right: 0;
                    &:after{
                        right: 2px;
                    }
                }
            }
        }
    }
    &__field{
        display: flex;
        flex: 1 1 auto;
        @include respond-to(sm){
            flex: 0 0 100%;
            max-width: 100%;
            &:after{
                display: none;
            }
        }
        &:after{
            display: none;
        }
    }
    &__item{
        position: relative;
        margin-left: -1px;
        &:last-of-type{
            .dropdown-toggle{
                @include respond-to(sm){
                    border-right: 0;
                }
            }
        }
    }
    &__reset{
        @include fsz(14px);
        color: $color-primary-500;
        position: absolute;
        right: 24px;
        @include center-v();
        font-family: $font-light;
        &:hover{
            opacity: 0.8;
        }
        @include respond-to(sm){
            right: 0;
        }
    }
    &__dropdown{
        .bs-searchbox{
            padding: 8px 0;
            &:before{
                bottom: 20px;
                left: 16px;
            }
            .form-control{
                padding-left: 48px;
            }
        }
        ~ .search-nav-block__dropdown{
            @include respond-to(sm){
                margin-left: 0;
                .dropdown-toggle{
                    padding-left: 16px;
                }
            }
        }
        .dropdown-toggle{
            width: 100%;
            justify-content: flex-start;
            background: $color-black;
            @include fsz(12px);
            padding-left: 8px;
            padding-right: 28px;
            font-weight: normal;
            color: $color-neutral-500;
            border: none;
            border-radius: $border-radius-default;
            height: 32px;
            &:after{
              content: "\ea0b";
              font-family: $font-icon;
              @include fsz(15px);
              @include center_v();
              right: 8px;
              border: none;
            }
            &.active{
              background: $color-black;
              color: $color-neutral-50;
              &:after{
                  color:  $color-primary-500;
              }
              &:hover, &:active{
                .dropdown-multiselect, .dropdown-text, .dropdown-placeholder{
                    color: $color-neutral-50;
                }
                .dropdown-icon{
                    color: $color-neutral-50;
                }
              }
            }
            &:hover, &:active{
                z-index: 2;
                .dropdown-multiselect, .dropdown-text, .dropdown-placeholder{
                    color: $color-neutral-800p;
                }
                .dropdown-icon{
                    color: $color-neutral-800p;
                }
            }
            @include respond-to(sm){
                padding-left: 0;
                border-left: none;
                border-top: none;
                &:hover, &:active{
                    background: $color-white !important;
                    &:before{
                        opacity: 1;
                    }
                }
                &:before{
                    top: 0;
                }
            }
            .filter-option {
                display: flex;
                align-items: center;
                .filter-option-inner {
                    @include truncateText();
                    .filter-option-inner-inner {
                        @include truncateText();
                    }
                }
            }
            &.bs-placeholder {
                color: $color-neutral-400;
                &:hover {
                    color: $color-neutral-400;
                }
            }
            &:focus {
                outline: none !important;
                box-shadow: none;
            }
        }
        .dropdown-icon{
            margin-right: 8px;
            @include fsz(16px);
            color: $color-neutral-400;
            transition: 200ms;
            &.active{
                color: $color-primary-500 !important;
            }
            @include respond-to(sm){
                margin-right: 11px;
            }
        }
        .dropdown-placeholder{
            color: $color-neutral-600;
            transition: 200ms;
        }
        .dropdown-multiselect{
            @include truncateText();
        }
        .dropdown-menu {
            border-radius: $border-radius-default;
            padding: 16px;
            border: 1px solid $color-neutral-200;
            margin-top: 5px;
            min-width: 100%;
            box-shadow: $shadow-300;
            max-height: 321px;
            @include respond-to(sm){
                max-height: 260px;
            }
            &.mCustomScrollbar{
                padding: 4px;
                .mCSB_container{
                    padding: 12px;
                }
                .mCSB_inside > .mCSB_container{
                    margin-right: 0;
                }
                .mCSB_scrollTools{
                    width: 12px;
                    opacity: 1;
                    right: -4px;
                }
                .mCSB_draggerContainer{
                    top: 4px;
                    bottom: 4px;
                }
                .mCSB_draggerRail{
                    opacity: 0;
                }
                .mCSB_dragger_bar{
                    background: rgba($color-neutral-400, 0.4);
                    &:hover{
                        background: rgba($color-neutral-400, 0.4);
                    }
                }
                .mCSB_dragger{
                    &.mCSB_dragger_onDrag{
                        .mCSB_dragger_bar{
                            background: rgba($color-neutral-400, 0.4);
                        }
                    }
                    &:hover{
                        .mCSB_dragger_bar{
                            background: rgba($color-neutral-400, 0.4);
                        }
                    }
                }
            }
            &:after{
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 6px 5px 6px;
                border-color: transparent transparent $color-white transparent;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -5px;
            }
            &:before{
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0px 7px 6px 7px;
                border-color: transparent transparent $color-neutral-200 transparent;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -6px;
            }
            .dropdown-item {
                @include fsz(14px);
                color: $color-neutral-800p;
                padding: 10px 14px;
                @include truncateText();
                span.text {
                    @include truncateText();
                    display: block;
                    margin-right: 0 !important;
                }
                &:hover {
                    background: $color-neutral-100;
                }
                &:focus {
                    outline: none;
                }
                &.active {
                    background: none;
                    color: $color-primary-500;
                    &:hover {
                        background: $color-neutral-100;
                    }
                }
            }
        }
        &.show-tick{
            .dropdown-item{
                padding-left: 48px;
                position: relative;
                &:focus,
                &:active {
                    background: none;
                }
                &:hover{
                    &:before{
                        border-color: $color-neutral-500;
                    }
                }
                &:before {
                    content: '';
                    @include center-v();
                    width: 16px;
                    height: 16px;
                    border-radius: $border-radius-default;
                    border: solid 1px $color-neutral-200;
                    background: $color-white;
                    left: 16px;
                    transition: 200ms;
                }
                &:after {
                    content: '';
                    width: 8px;
                    height: 5px;
                    border: none;
                    border-bottom: 2px solid $color-white;
                    border-left: 2px solid $color-white;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: scale(0) translateY(-50%) rotate(-45deg);
                    transition: 300ms;
                }
                &.active {
                    color: $color-neutral-800p;
                    background: none;
                    &:before {
                        background: $color-primary-500;
                        border-color: transparent;
                    }
                    &:after {
                        transform: scale(1) translateY(-65%) rotate(-45deg);
                    }
                    &:hover{
                        background: $color-neutral-100;
                    }
                }
            }
        }
        &.show {
            >.dropdown-toggle {
                &:after {
                    color: $color-primary-500;
                }
                &.bs-placeholder {
                    color: $color-neutral-800p;
                    &:hover {
                        color: $color-neutral-800p;
                    }
                }
                .dropdown-icon{
                    color: $color-neutral-800p;
                }
            }
        }
    }
    &__filter{
        width: 200px;
        height: 48px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        &:after, &:before{
            content: '';
            height: 36px;
            width: 1px;
            background: $color-neutral-200;
            @include center-v();
            right: 0;
        }
        &:before{
            left: 0;
            right: auto;
        }
        @include respond-to(sm){
            padding: 0 1px 0 28px;
            &:before, &:after{
                display: none;
            }
        }
        .form-checkbox{
            width: 100%;
            text-transform: none;
            @include fsz(14px);
            letter-spacing: normal;
            font-family: $font-regular;
            input:checked{
                + span{
                    color: $color-neutral-800p;
                }
            }
            span{
                color: $color-neutral-600;
                width: 100%;
                display: block;
            }
        }
    }
    &__item-range{
      display: flex;
      margin-top: -4px;
      padding: 0 8px 8px;
      background: $color-black;
      border-radius: 0 0 $border-radius-default $border-radius-default;
      label{
        margin-bottom: 2px;
        color: $color-neutral-50;
      }
      .form-control{
        height: 32px;
        background: $color-neutral-800;
        border: none;
        color: $color-neutral-50;
        font-family: $font-light;
        padding: 0 8px;
        &:focus:not([readonly]){
          border: none;
          color: $color-neutral-50;
        }
      }
    }
}
