$color-white: #fff;
$color-black: #000;

// Primary colors
$color-primary-200: #dff3e5;
$color-primary-500: #27b043;
$color-primary-700: #1f8e36;

// Secondary colors
$color-secondary-500: #b02639;
$color-secondary-700: #8e1f2e;

// Neutral colors
$color-neutral-900: #212121;
$color-neutral-800: #424242;
$color-neutral-700: #616161;
$color-neutral-600: #757575;
$color-neutral-500: #9e9e9e;
$color-neutral-400: #bdbdbd;
$color-neutral-300: #e0e0e0;
$color-neutral-200: #eeeeee;
$color-neutral-100: #f5f5f5;
$color-neutral-50: #fafafa;


// Semantic Colors

// Error
$color-error-500: #ee1148;
$color-error-100: #ffdee4;
// Warning
$color-warning-500: #ffa128; // Currently not used
$color-warning-100: #ffdfb7; // Currently not used
//Success
$color-success-500: #30bd1f; // Currently not used
$color-success-100: #dbf4e4; // Currently not used
