//--- Fonts Variables
$font-light: 'Rubik-Light', Helvetica, Arial, sans-serif;
$font-regular: 'Rubik-Regular', Helvetica, Arial, sans-serif;
$font-medium: 'Rubik-Medium', Helvetica, Arial, sans-serif;
$font-icon: 'Nucleo';
