//--- Fonts Variables
$font-regular: 'AvenirLTPro-Roman', Helvetica, Arial, sans-serif;
$font-book: 'AvenirLTPro-Book', Helvetica, Arial, sans-serif;
$font-light: 'AvenirLTPro-Light', Helvetica, Arial, sans-serif;
$font-medium: 'AvenirLTPro-Medium', Helvetica, Arial, sans-serif;
$font-heavy: 'AvenirLTPro-Heavy', Helvetica, Arial, sans-serif;
$font-regular-hebrew: 'Assitant-Regular', Tahoma, Helvetica, Arial, sans-serif;
$font-book-hebrew: 'Assitant-SemiBold', Tahoma, Helvetica, Arial, sans-serif;
$font-light-hebrew: 'Assitant-Light', Tahoma, Helvetica, Arial, sans-serif;
$font-medium-hebrew: 'Assitant-SemiBold', Tahoma, Helvetica, Arial, sans-serif;
$font-heavy-hebrew: 'Assitant-Bold', Tahoma, Helvetica, Arial, sans-serif;
$font-icon: 'fontello';
$font-kredit: 'KreditFront';
