.badge{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include fsz(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-medium;
  font-weight: normal;
  &--primary{
    background: $color-primary-500;
    color: $color-white;
  }
  &--id{
    height: 24px;
    min-width: 48px;
    background: $color-primary-200;
    color: $color-primary-500;
    border-radius: $border-radius-small;
    font-family: $font-regular;
  }
}
