.progress-wrap {
    left: -12px;
    right: -12px;
    position: absolute;
    bottom: 0;
    height: 6px;
    border-radius: 0 0 $border-radius-default $border-radius-default;
    background-color: $color-neutral-200;
    overflow: hidden;
    .progress {
        width: 0;
        animation: progress_animation 1.2s linear forwards;
        height: 6px;
        border-radius: 0;
        background: $color-primary-500;
        &.progress-infinite {
            animation-iteration-count: infinite;
        }
    }
}
