button {
    padding: 0;
    background: none;
    border: 0;
    &:focus {
        outline: none !important;
    }
}

button, .btn, .cursor-pointer {
    transition: 250ms;
    cursor: pointer;
}

.btn {
    height: 40px;
    border-radius: $border-radius-default;
    @include fsz(13px);
    box-shadow: none;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: none;
    font-family: $font-regular;
    padding: 0;
    i {
        @include fsz(16px);
    }
    &:focus {
        box-shadow: none !important;
    }
    &.btn-primary {
        background: $color-primary-500;
        color: $color-white;
        border: 1px solid transparent;
        min-width: 120px;
        &:hover,
        &:active {
            background: rgba($color-primary-500, 0.85) !important;
            border: 1px solid transparent !important;
        }
        &.disabled {
            background: $color-neutral-400;
            opacity: 1;
            color: $color-white;
            pointer-events: none;
        }
    }
    &.btn-secondary {
        background: transparent;
        color: $color-primary-500;
        border: 1px solid;
        min-width: 120px;
        &:hover,
        &:active {
            background: $color-primary-200 !important;
            color: $color-primary-500 !important;
            border-color: $color-primary-500 !important;
        }
        &:disabled {
            opacity: 0.8;
        }
    }
    &.btn-link {
        height: auto;
        border-radius: 0;
        background: transparent;
        color: $color-neutral-600;
        padding: 0;
        line-height: 1;
        i {
            @include fsz(16px);
            margin-right: 8px;
            transition: inherit;
        }
        &:hover,
        &.active {
            color: $color-primary-500;
            text-decoration: none;
        }
        &.selected {
            color: $color-neutral-900;
            font-weight: 900;
            text-decoration: none;
        }
    }
    &.btn-sm{
        height: 24px;
        width: 120px;
    }
    &.btn-icon{
      height: auto;
      padding: 0;
      color: $color-neutral-600;
      line-height: 1;
      height: 32px;
      width: 32px;
      i{
        color: $color-neutral-400;
        @include fsz(16px);
        transition: inherit;
      }
      &:hover, &.active{
        color: $color-primary-500;
        background: $color-neutral-100;
        i{
          color: $color-primary-500;
        }
      }
      &--dark{
        &:hover, &.active{
          background: $color-neutral-200;
        }
      }
      &--w-text{
        width: auto;
        padding: 4px 6px 4px 4px;
        i{
          margin-right: 8px;
        }
      }
    }
}
