/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-zoom: unicode(ea03);
$icon-e-remove: unicode(ea04);
$icon-triangle-down: unicode(ea05);
$icon-edit: unicode(ea06);
$icon-bin: unicode(ea07);
$icon-trash-can: unicode(ea08);
$icon-s-add: unicode(ea09);
$icon-s-delete: unicode(ea0a);
$icon-sort-tool: unicode(ea0b);
$icon-file-content: unicode(ea0c);
$icon-e-add: unicode(ea0d);
$icon-gear: unicode(ea0e);
$icon-g-chart: unicode(ea0f);
$icon-Collapse-all: unicode(ea10);
$icon-Contacts: unicode(ea11);
$icon-Import: unicode(ea12);
$icon-Export: unicode(ea13);
$icon-Register: unicode(ea14);
$icon-Reports: unicode(ea15);
$icon-USD: unicode(ea16);
$icon-Files: unicode(ea17);
$icon-Epand-all: unicode(ea18);
$icon-NIS: unicode(ea19);

.icon-zoom::before {
  content: $icon-zoom;
}

.icon-e-remove::before {
  content: $icon-e-remove;
}

.icon-triangle-down::before {
  content: $icon-triangle-down;
}

.icon-edit::before {
  content: $icon-edit;
}

.icon-bin::before {
  content: $icon-bin;
}

.icon-trash-can::before {
  content: $icon-trash-can;
}

.icon-s-add::before {
  content: $icon-s-add;
}

.icon-s-delete::before {
  content: $icon-s-delete;
}

.icon-sort-tool::before {
  content: $icon-sort-tool;
}

.icon-file-content::before {
  content: $icon-file-content;
}

.icon-e-add::before {
  content: $icon-e-add;
}

.icon-gear::before {
  content: $icon-gear;
}

.icon-g-chart::before {
  content: $icon-g-chart;
}

.icon-Collapse-all::before {
  content: $icon-Collapse-all;
}

.icon-Contacts::before {
  content: $icon-Contacts;
}

.icon-Import::before {
  content: $icon-Import;
}

.icon-Export::before {
  content: $icon-Export;
}

.icon-Register::before {
  content: $icon-Register;
}

.icon-Reports::before {
  content: $icon-Reports;
}

.icon-USD::before {
  content: $icon-USD;
}

.icon-Files::before {
  content: $icon-Files;
}

.icon-Epand-all::before {
  content: $icon-Epand-all;
}

.icon-NIS::before {
  content: $icon-NIS;
}

