.color-primary-700{
  color: $color-primary-700 !important;
}
.color-primary-500{
  color: $color-primary-500 !important;
}
.color-primary-200{
  color: $color-primary-200 !important;
}
.color-secondary-700{
  color: $color-secondary-700 !important;
}
.color-primary-500{
  color: $color-secondary-500 !important;
}
.color-neutral-200{
  color: $color-neutral-200 !important;
}
.color-neutral-400{
  color: $color-neutral-400 !important;
}
.color-neutral-500{
  color: $color-neutral-500 !important;
}
.color-neutral-600{
  color: $color-neutral-600 !important;
}
.color-neutral-800p {
  color: $color-neutral-900 !important;
}