/*--- Grid ---*/
.row{
  &.gutter-8{
    margin-left: -4px;
    margin-right: -4px;
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 4px;
      padding-left: 4px;
    }
  }
  &.gutter-16{
    margin-left: -8px;
    margin-right: -8px;
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  &.gutter-24{
    margin-left: -12px;
    margin-right: -12px;
    @include respond-to(xs){
        margin-left: -8px;
        margin-right: -8px;
    }
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 12px;
      padding-left: 12px;
      @include respond-to(xs){
          padding-right: 8px;
          padding-left: 8px;
      }
    }
  }
  &.gutter-32{
    margin-left: -16px;
    margin-right: -16px;
    @include respond-to(xs){
        margin-left: -8px;
        margin-right: -8px;
    }
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 16px;
      padding-left: 16px;
      @include respond-to(xs){
          padding-right: 8px;
          padding-left: 8px;
      }
    }
  }
  &.gutter-64{
    margin-left: -32px;
    margin-right: -32px;
    @include respond-to(xl){
        margin-left: -16px;
        margin-right: -16px;
    }
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 32px;
      padding-left: 32px;
      @include respond-to(xl){
          padding-right: 16px;
          padding-left: 16px;
      }
    }
  }
  &.gutter-72{
    margin-left: -36px;
    margin-right: -36px;
    @include respond-to(xl){
        margin-left: -16px;
        margin-right: -16px;
    }
    & > [class^="col"],
    & > [class*=" col"] {
      padding-right: 36px;
      padding-left: 36px;
      @include respond-to(xl){
          padding-right: 16px;
          padding-left: 16px;
      }
    }
  }
}

.col-xxl-3{
    @include respond-to(xxl_up){
        flex: 0 0 25%;
        max-width: 25%;
    }
}
